@model IEnumerable<Gym.Models.Models.Rutina>

@{
    ViewBag.Title = "Rutina";
}


<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            Nueva Rutina
        </header>
        <div class="panel-body">
            <div class="row">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaInicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaFin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duracion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SeguimientoId)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaInicio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaFin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duracion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SeguimientoId)
                            </td>
                            <td>

                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </section>
 </div>
