@model IEnumerable<Gym.Models.Models.Trabajador>

@{
    ViewBag.Title = "Trabajadores";
}

<h2>Trabajadores</h2>

<p>
    <button type="button" name="btnNuevoTrabajador" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Trabajador")'" aria-label="Left Align">
        @*<img src="~/Images/Icons/add-client-icon.png" width="25" />&nbsp;&nbsp;*@<strong>Crear Nuevo</strong>
    </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApePaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApeMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dni)
        </th>
        <th>
            Inhabilitado
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th>
            Acciones
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApePaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApeMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.Raw(@Html.ActionLink("Asignar", "Inhabilitar", new { id = item.Id, asignado = item.Id }).ToHtmlString().Replace("Asignar", "Cambiar Estado"))&nbsp;
            </td>
        </tr>
    }

</table>
